.index
    height 100vh
    width 100vw
.container
    height 100%
    width 100%
.static
    height 400px
    width 100%
    background-color red
.move
    height 50px
    width 300px 
    background blue